
.SearchBar{
    float: left;
    width: 30%;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.2);
}
.Logo{
    float: left;
    margin: 0 0 10px 0;
    background: rgba(255, 255, 255, 0.2)

}
